# Flutter
frontend/build/
frontend/.dart_tool/
frontend/.packages
frontend/.pub/
frontend/pubspec.lock

# Android
frontend/android/.gradle/
frontend/android/app/build/

# iOS
frontend/ios/Pods/
frontend/ios/.symlinks/

# Java / Spring Boot
backend/target/

# IntelliJ / VSCode
.idea/
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# ENV
.env