# =========================
# OS / Genel
# =========================
.DS_Store
*.log
*.tmp

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/
*.iml
*.iws
*.ipr

# =========================
# Flutter / Dart
# =========================
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# =========================
# Android (Flutter)
# =========================
android/.gradle/
android/app/build/

# =========================
# iOS (Flutter)
# =========================
ios/Pods/

# =========================
# Java / Spring Boot
# =========================
target/
.mvn/wrapper/maven-wrapper.jar

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =========================
# Allow rules (Spring)
# =========================
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/